
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Success Page</h2>
        <h2>Two-Factor Authentication Successful!</h2>
        <img src="C:\Users\Ayoosh\Desktop\mp\img.jpeg" height="250" alt="Success Image" class="center">
        <table>
            <tr>
                <td>Name</td>
                <td>Ayoosh Dhasmana</td>
            </tr>
            <tr>
                <td>Section</td>
                <td>F2</td>
            </tr>
            <tr>
                <td>Class Roll No</td>
                <td>16</td>
            </tr>
            <tr>
                <td>University Roll No</td>
                <td>2218543</td>
            </tr>
            <tr>
                <td>Specialization</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Mobile No</td>
                <td>987XXXXXXX</td>
            </tr>
        </table>
    </div>
</body>
</html>
